.trainer {
    margin-top: 30px;
    .trainer__content {
        .trainer__title {
            font-size: 23px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .trainer__info {
            h5 {
                font-weight: 700;
                text-decoration: underline;
                color: #5624d0;
                margin-bottom: 0px;
            }
            p {
                color: #6a6f73;
            }
            .trainer__info-item {
                display: flex;
                align-items: center;
                .trainer__info-item-image {
                    img {
                        border-radius: 50%;
                        width: 112px;
                        height: 112px;
                    }
                }
                .trainer__info-item-thread {
                    margin-left: 30px;
                    p {
                        font-size: 14px;
                        margin-bottom: 0px;
                        color: #1c1d1f;
                        span {
                            margin-left: 15px;
                        }
                    }
                }
            }
            .trainer__info-content {
                margin-top: 20px;
                position: relative;
                height: 170px;
                p {
                    color: #1c1d1f;
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                .introduce-overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50px;
                    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
                }
            }
            .btn-show {
                color: #5624d0;
                font-size: 14px;
                font-weight: 700;
                span {
                    margin-right: 5px;
                }
            }
        }
    }
}